* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
.border-under {
    border-bottom: 1px solid #ddd;
}

.mg-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.red {
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    height: 18px;
    width: 40px;
    font-size: 11px;
    text-align: center;
}

.color {
    background-color: #FAFAFA;
}

.non-inline {
    display: inline-block;
}

.line-height-54 {
    line-height: 54px;
}

.float-r {
    float: right;
}

/*  */
.header-first {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #D9BD60;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text__first,
.header-text__second,
.header-text__third {
    color: #fff;
    margin: 0 20px;
    font-weight: 500;
}

.header-text__first {
    text-align: center;
}

.header-text__second {
    display: flex;
    flex-direction: row;
}

.text-1,
.text-2 {
    flex: 1;
    margin: 0 5px;
}

.header-text__second-1 {
    display: flex;
    flex-direction: column;
}

.text__second-1,
.text__second-2 {
    flex: 1;
    
}

.header-second {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 142px;
}

.header-second-1 {
    display: flex;
    align-items: center;
}

.icon {
    text-align: center;
    color: #8E8E8E;
    font-size: 15px;
}

#content {
    background-color: #FAFAFA;
    padding: 10px 0 40px 0;
}

#content .content-first {
    width: 85%;
    height: 115px;
    background-color: #fff;
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* Step Progress Bar  */
.progressbar {
    counter-reset: step;
    padding: 0;
    width: 550px;
}

.progressbar li {
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: calc(100% / 4);
}

.progressbar li:before {
    background: #fff;
    border: 2px solid #bebebe;
    border-radius: 50%;
    color: #bebebe;
    content: counter(step);
    counter-increment: step;
    display: block;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 10px;
    text-align: center;
    width: 30px;
}

.progressbar li:after {
    background: #D0D0D0;
    content: '';
    height: 3px;
    left: -50%;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:after,
.progressbar li.complete:after {
    background: #3aac5d;
}

.progressbar li.active:before,
.progressbar li.complete:before {
    border-color: #3aac5d;
    color: #3aac5d;
}



/*  */

#content .content-second {
    width: 85%;
    background-color: #fff;
    margin: auto;
}

.content-second-text {
    padding: 40px 40px;
}

.content-info {
    display: flex;
}

.content-left {
    flex: 1;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.content-right {
    flex: 3;
    border: 1px solid #ddd;
    display: flex;
}

.input-text {
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFCF4;
}

textarea {
    width: 100%;
    height: 210px;
    padding: 20px;
}

.center-btn {
    display: flex;
    justify-content: center;
}

.btn {
  width: 355px;
  height: 54px;
  background-color: #4DAC92;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 50px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer {
    background-color: #B9C3BC;
    height: 177px;
    padding-left: 100px;
    padding-top: 30px;
    color: #fff;
}

span {
    margin-right: 20px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}


.footer-icon {
    font-size: 23px;
}